@import 'variables';

.container {
  background-color: rgb(50, 50, 50);
  color: #fff;
  height: 100%;
  max-width: 100%;
  overflow: scroll;
}

.messageRow {
  display: flex;
  padding: 0 28px;
  margin-bottom: 10px;
  word-break: break-word;
  border-radius: 4px;

  &:first-child {
    margin-top: none;
    border-top: none;
  }
}

.imgContainer {
  flex: 0 0 42px;
  max-height: 42px;
  margin-right: 14px;

  img {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    border-radius: 8px;
  }
}

.textContainer {
  // background-color: rgb(60, 60, 60);
  // padding: 14px 18px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.name {
  font-weight: bold;
}

.text {
  color: rgb(240, 240, 250);
  word-wrap: break-word;

  a {
    color: rgb(240, 240, 250);
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.6em;
  }

  code {
    display: block;
    background-color: lighten($background-color, 4);
    color: #fefefe;
    padding: 4px 10px;
    border-radius: 6px;
    border: 1px solid lighten($background-color, 10);
    width: 100%;

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;

      div {
        max-width: 100%;
      }
    }
  }
}

.inline {
  color: #59b5fb;
  display: inline !important;
  padding: 4px !important;
}

.user {
  color: #fefefe;
  font-weight: bold;
}

.text + .text {
  margin-top: 4px;
}
