@import 'variables';

.container {
  background-color: rgb(42, 42, 42);
  padding: 14px 14px;
  display: flex;
  align-items: center;
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin-right: 10px;
}

.name {
  color: #fff;
  font-weight: bold;
}
