.channels {
  background-color: #646464;
  padding: 10px;
  height: 100%;
  width: 250px;
  overflow-y: scroll;
}

.channel {
  color: #eee;
  display: block;
  padding-bottom: 4px;
}

.selectedChannel {
  color: #fff;
  font-weight: bold;
}
