@import 'variables';

.channels {
  background-color: rgb(42, 42, 42);
  height: 100%;
  min-width: 245px;
  overflow-y: scroll;
  padding: 6px 14px;
  user-select: none;
}

.channel {
  color: #aaa;
  border-radius: 4px;
  display: block;
  margin-bottom: 4px;
  padding: 0 6px;
  cursor: default;
}

.unreadChannel {
  color: #eee;
}

.selectedChannel {
  background-color: rgb(70, 70, 70);
  color: #fff;
}
