@import 'variables';

.main {
  height: calc(100% - #{$status-bar-padding});
  display: flex;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.channelContainer {
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
