@import 'variables';

:global html {
  background-color: $background-color;
  height: 100%;
}

:global * {
  box-sizing: border-box;
}

:global body {
  font-family: 'San Francisco', 'Helvetica Nueue', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global #root {
  height: 100%;
}
